In [1]:
import pandas as pd
data = pd.read_csv('WHO_PM.csv')

In [2]:
data.head()
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9450 entries, 0 to 9449
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   IndicatorCode               9450 non-null   object
 1   Indicator                   9450 non-null   object
 2   ValueType                   9450 non-null   object
 3   ParentLocationCode          9450 non-null   object
 4   ParentLocation              9450 non-null   object
 5   Location type               9450 non-null   object
 6   SpatialDimValueCode         9450 non-null   object
 7   Location                    9450 non-null   object
 8   Period type                 9450 non-null   object
 9   Period                      9450 non-null   int64
 10  IsLatestYear                9450 non-null   bool
 11  Dim1 type                   9450 non-null   object
 12  Dim1                        9450 non-null   object
 13  Dim1ValueCode               9450 non-null   object
 14  Dim2 type                   0 non-null      float64
 15  Dim2                        0 non-null      float64
 16  Dim2ValueCode               0 non-null      float64
 17  Dim3 type                   0 non-null      float64
 18  Dim3                        0 non-null      float64
 19  Dim3ValueCode               0 non-null      float64
 20  DataSourceDimValueCode      0 non-null      float64
 21  DataSource                  0 non-null      float64
 22  FactValueNumericPrefix      0 non-null      float64
 23  FactValueNumeric            9450 non-null   float64
 24  FactValueUoM                0 non-null      float64
 25  FactValueNumericLowPrefix   0 non-null      float64
 26  FactValueNumericLow         9450 non-null   float64
 27  FactValueNumericHighPrefix  0 non-null      float64
 28  FactValueNumericHigh        9450 non-null   float64
 29  Value                       9450 non-null   object
 30  FactValueTranslationID      0 non-null      float64
 31  FactComments                0 non-null      float64
 32  Language                    9450 non-null   object
 33  DateModified                9450 non-null   object
dtypes: bool(1), float64(17), int64(1), object(15)
memory usage: 2.4+ MB

,Period,Dim2 type,Dim2,Dim2ValueCode,Dim3 type,Dim3,Dim3ValueCode,DataSourceDimValueCode,DataSource,FactValueNumericPrefix,FactValueNumeric,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,FactValueTranslationID,FactComments
count,9450.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9450.000000,0.0,0.0,9450.000000,0.0,9450.000000,0.0,0.0
mean,2014.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.538435,NaN,NaN,16.229705,NaN,35.475423,NaN,NaN
std,2.872433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.024029,NaN,NaN,11.174679,NaN,27.150003,NaN,NaN
min,2010.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.590000,NaN,NaN,1.410000,NaN,5.260000,NaN,NaN
25%,2012.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.920000,NaN,NaN,7.850000,NaN,15.950000,NaN,NaN
50%,2014.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.570000,NaN,NaN,13.790000,NaN,24.480000,NaN,NaN
75%,2017.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.977500,NaN,NaN,20.340000,NaN,49.687500,NaN,NaN
max,2019.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.490000,NaN,NaN,70.240000,NaN,175.600000,NaN,NaN

In [3]:
data.dropna()
data.drop_duplicates()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AFR,Africa,Country,KEN,Kenya,Year,2019,...,NaN,NaN,6.29,NaN,13.74,10.01 [6.29-13.74],NaN,NaN,EN,2022-08-11T23:00:00.000Z
1,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,TTO,Trinidad and Tobago,Year,2019,...,NaN,NaN,7.44,NaN,12.55,10.02 [7.44-12.55],NaN,NaN,EN,2022-08-11T23:00:00.000Z
2,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,EUR,Europe,Country,GBR,United Kingdom of Great Britain and Northern I...,Year,2019,...,NaN,NaN,9.73,NaN,10.39,10.06 [9.73-10.39],NaN,NaN,EN,2022-08-11T23:00:00.000Z
3,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,GRD,Grenada,Year,2019,...,NaN,NaN,7.07,NaN,13.20,10.08 [7.07-13.20],NaN,NaN,EN,2022-08-11T23:00:00.000Z
4,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,BRA,Brazil,Year,2019,...,NaN,NaN,8.23,NaN,12.46,10.09 [8.23-12.46],NaN,NaN,EN,2022-08-11T23:00:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9445,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,BLZ,Belize,Year,2010,...,NaN,NaN,3.91,NaN,20.28,9.92 [3.91-20.28],NaN,NaN,EN,2022-08-11T23:00:00.000Z
9446,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,TTO,Trinidad and Tobago,Year,2010,...,NaN,NaN,7.80,NaN,12.89,9.92 [7.80-12.89],NaN,NaN,EN,2022-08-11T23:00:00.000Z
9447,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AFR,Africa,Country,KEN,Kenya,Year,2010,...,NaN,NaN,6.30,NaN,13.57,9.94 [6.30-13.57],NaN,NaN,EN,2022-08-11T23:00:00.000Z
9448,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,AMR,Americas,Country,USA,United States of America,Year,2010,...,NaN,NaN,9.78,NaN,10.11,9.95 [9.78-10.11],NaN,NaN,EN,2022-08-11T23:00:00.000Z
9449,SDGPM25,Concentrations of fine particulate matter (PM2.5),text,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2010,...,NaN,NaN,66.17,NaN,128.40,92.79 [66.17-128.44],NaN,NaN,EN,2022-08-11T23:00:00.000Z

In [4]:
data.fillna('unknown', inplace=True)  # Replace NaN with 'unknown'

In [5]:
data.drop(columns=['IndicatorCode', 'Indicator', 'ValueType', 'ParentLocationCode', 'Location type', 'SpatialDimValueCode', 'Period type', 'Dim1 type', 'Dim1ValueCode', 'Dim2 type', 'Dim2', 'Dim2ValueCode', 'Dim3 type', 'Dim3', 'Dim3ValueCode', 'DataSourceDimValueCode', 'DataSource', 'FactValueNumericPrefix', 'FactValueUoM', 'FactValueNumericLowPrefix', 'FactValueNumericHighPrefix', 'FactValueTranslationID', 'FactComments', 'Language', 'DateModified'], inplace=True)

In [6]:
data.rename(columns={'ParentLocation': 'Region'}, inplace=True)
data.rename(columns={'Location': 'Country'}, inplace=True)
data.rename(columns={'Period': 'Year'}, inplace=True)
data.rename(columns={'Dim1': 'Residence Area Type'}, inplace=True)

In [7]:
data.rename(columns={'FactValueNumeric': 'FineParticulateMatterCount'}, inplace=True)
data.rename(columns={'FactValueNumericLow': 'FineParticulateMatterLow'}, inplace=True)
data.rename(columns={'FactValueNumericHigh': 'FineParticulateMatterHigh'}, inplace=True)

In [8]:
data.head()
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9450 entries, 0 to 9449
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Region                      9450 non-null   object
 1   Country                     9450 non-null   object
 2   Year                        9450 non-null   int64
 3   IsLatestYear                9450 non-null   bool
 4   Residence Area Type         9450 non-null   object
 5   FineParticulateMatterCount  9450 non-null   float64
 6   FineParticulateMatterLow    9450 non-null   float64
 7   FineParticulateMatterHigh   9450 non-null   float64
 8   Value                       9450 non-null   object
dtypes: bool(1), float64(3), int64(1), object(4)
memory usage: 600.0+ KB

,Year,FineParticulateMatterCount,FineParticulateMatterLow,FineParticulateMatterHigh
count,9450.000000,9450.000000,9450.000000,9450.000000
mean,2014.500000,23.538435,16.229705,35.475423
std,2.872433,15.024029,11.174679,27.150003
min,2010.000000,4.590000,1.410000,5.260000
25%,2012.000000,11.920000,7.850000,15.950000
50%,2014.500000,19.570000,13.790000,24.480000
75%,2017.000000,30.977500,20.340000,49.687500
max,2019.000000,97.490000,70.240000,175.600000

In [9]:
data.to_csv('WHO_PM CLEANED.csv', index=False)